@media only screen and (max-width: 750px) {
    .pc { 
        display: none !important; 
    }

    .sp {
        display: block !important; 
    }

    .container {
        margin: 0 auto;
    }

    /* cva area */

    .content {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .image-area img{
        width: 90%;
        height: auto; 
        margin: 0 auto;
    }

    .image-area {
        margin-top: 5px;
    }

    .content h2 {
        font-size: 2.5vw;
        text-align: center;
        white-space: nowrap;
        margin-left: -20%;
        margin-top: 20%;
    }

    .usually-price {
        font-size: 15px;
        margin-left: -90%;
    }

    .price {
        font-size: 5.0vw;
        margin-left: -5%;
    }
    .special-price {
       font-size: 7.5vw;
       margin-left: 20px; 
    }

    .btnarea img{
        margin: 0 auto;
        margin-bottom:8px ;
        width: 100%;
    }

    .cva {
        margin: 0 auto;
    }

    .image-area {
        position: relative;
        & .cva{
          position: absolute;
          top:32%;
          left: 50%; /* 左から50%